@import '../media-query-manager';


.about {

    &__introContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        @include respond(tablet) {
            flex-direction: column-reverse;
        }
    }
    &__intro {

        // position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5rem;
        margin-top: 8rem;

        @include respond(laptop) {
            margin-top: 10rem;
        }
        @include respond(tablet) {
            align-items: center;
            margin-top: 5rem;
            gap: 5rem;
        }

        &_header {
            font-size: 5.6rem;

            opacity: 0;
            animation: FadeInRight 0.8s ease-out forwards;
            animation-delay: 1.2s;

            @include respond(laptop-small-2) {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    width: 5rem;
                    background-color: var(--color-dark-1);
                }
            }
        }
        &_body {
            width: 80%;

            opacity: 0;
            animation: FadeInRight 0.8s ease-out forwards;
            animation-delay: 1.4s;

            @include respond(laptop) {
                width: 85%;
                font-size: 1.8rem;
            }
            @include respond(laptop-small-2) {
                width: 90%;
            }
            @include respond(tablet) {
                width: 100%;
                text-align: center;
            }
        }
        &_keepScrolling {

            background-color: rgba(255, 255, 255, 0);
            color: var(--color-black) !important;
            margin-bottom: 10rem;

            opacity: 0;
            animation: FadeInRight 0.8s ease-out forwards;
            animation-delay: 1.6s;

            &-icons {
                opacity: 1 !important;
            }
            &-text {

            }
        }
    }
    &__circularImages {
        
        position: relative;
        display: flex;

        @include respond(tablet) {
            margin-top: 12rem;
        }

        &_container {

            position: relative;
            width: 50rem;
            height: 50rem;

            @include respond(laptop-small-2) {
                width: 45rem;
                height: 45rem;
            }
            @include respond(laptop) {
                width: 42rem;
                height: 42rem;
            }
            @include respond(tablet) {
                width: 30rem;
                height: 30rem;
            }

            &-1 {

                position: absolute;
                top: 0;
                right: 0;
                width: 45%;
                height: auto;

                opacity: 0;
                animation: FadeInDown 0.8s ease-out forwards;
                animation-delay: 1.6s;

                &--image {

                }
                &--filter {

                }
            }
            &-2 {

                position: absolute;
                bottom: 0;
                left: 0;
                width: 70%;
                height: auto;

                opacity: 0;
                animation: FadeInUp 0.8s ease-out forwards;
                animation-delay: 1.6s;

                &--image {

                }
                &--filter {
                    
                }
            }
        }
    }


    &__taglineBox {

        animation: appear-bottom linear forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;

        &_banner {

        }
        &_filter01 {

        }
        &_filter02 {

        }
        &_content {
        
        }
    }


    &__mission {

        position: relative;

        &_banner {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &_banner-shadow {
            position: absolute !important;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background-image: linear-gradient(to top, rgba(32, 32, 32, 1) 0%, rgba(0, 0, 0, 0) 100%);
        }


        &_contentsbox {

            background-color: brown;

            &_flex-container {
                
                display: flex;
                gap: 10rem;
                align-items: flex-end;

                @include respond(tablet) {
                    flex-direction: column;
                    align-items: center;
                }

                //features
                //content
            }
        }
        &_features {

            position: relative;
            background-color: rgba(35, 35, 35, 0.88);
            flex: 1;
            padding: 10rem;
            border-start-end-radius: 30px;

            display: flex;
            align-items: center;
            justify-content: center;

            @include respond(tablet) {
                width: 100%;
                border-radius: 0;
            }
            @include respond(phone-small-1) {
                padding: 10rem 2rem;
              }

            &_container {

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 3rem;

                &-feature {

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 3rem;

                    animation: appear-bottom linear forwards;
                    animation-timeline: view();
                    animation-range: entry 0% cover 35%;

                    &--iconbox {

                        position: relative;
                        background-color: rgba(255, 255, 255, 0.08);
                        width: 10rem;
                        height: 10rem;
                        border-radius: 50%;
                        animation: FeatureOpacityPulseAnimation 2.5s ease-in-out infinite;

                        &---icon {
                            @include absolute-center;
                            width: 38%;
                            height: auto;
                        }
                    }
                    &--title {
                        font-size: 2.2rem;
                        font-weight: 300;
                        text-align: center;
                        color: var(--color-white);
                        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
                    }
                }

                &-line {
                    width: 1px;
                    height: 3rem;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        &_content {

            flex: 2;
            position: relative;
            margin-bottom: 10rem;

            @include respond(tablet) {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-box {

                width: 80%;
                color: var(--color-white);

                @include respond(tablet) {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }

                &--logobox {

                    margin-bottom: 4rem;
                    width: 20rem;
                    height: 20rem;
                    background-color: rgb(255 255 255 / 100%);
                    backdrop-filter: blur(3px);
                    overflow: hidden;
                    border-radius: 50%;
                    mix-blend-mode: soft-light;

                    animation: appear-bottom linear forwards;
                    animation-timeline: view();
                    animation-range: entry 0% cover 30%;

                    @include respond(tablet) {
                        text-align: center;
                    }

                    &---img {
                        @include absolute-center;
                        width: 50%;
                        height: 50%;
                    }
                }
                &--header {
                    font-size: 5.2rem;
                    font-weight: 400;
                    line-height: 1.5;
                    margin-bottom: 1rem;
                    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

                    animation: appear-bottom linear forwards;
                    animation-timeline: view();
                    animation-range: entry 0% cover 30%;
                }
                &--text {
                    font-size: 2rem;
                    font-weight: 300;
                    line-height: 1.5;
                    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

                    animation: appear-bottom linear forwards;
                    animation-timeline: view();
                    animation-range: entry 0% cover 30%;
                }
            }
        }
    }


    &__reps {

        position: relative;
        background-color: #262626;
        padding-bottom: 20rem;

        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10rem;
        overflow: hidden;

        &_illustration {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 95%;
            opacity: .03;
            // animation: RepsIllustrationOpacityPulseAnimation 3s cubic-bezier(0.65, 0, 0.35, 1) infinite reverse;

            @include respond(tablet) {
                height: auto;
            }
        }

        &_maincontainer {
            @include respond(tablet) {
                margin: 0;
            }
        }
        &_header {
            color: var(--color-white);
            margin-top: 15rem;
            margin-bottom: 5rem;
            text-align: center;
        }
        &_container {

            display: flex;
            gap: 4rem;
            flex-direction: column;
            align-items: center;

            &-rep {
                @include respond(tablet) {
                    width: 100%;
                }
            }
            &-rep01 {

            }
            &-rep02 {

            }
        }
    }
}