
.allergist-locator {

    &__content {

        padding-top: 18rem;
        display: flex;

        @include respond(tablet-small-3) {
            flex-direction: column-reverse;
            gap: 4rem;
        }

        &_intro {

            width: 50%;

            @include respond(tablet-small-3) {
                width: 100%;
            }

            &_header {

            }
            &_text {
    
            }
        }

        &_logobox {

            margin-left: auto;
            position: relative;
            width: 15rem;
            height: 15rem;
            background-color: var(--color-dark-1);
            border-radius: 50%;
            box-shadow: inset -4px 4px 10px rgba(255, 255, 255, 0.4), inset 4px -4px 10px rgba(0, 0, 0, 0.7);

            @include respond(tablet-small-3) {
                margin-left: 0;
            }

            &-icon {
                @include absolute-center;
                width: 50%;
                height: auto;
            }
        }
    }

    &__iframe {
        width: 100%;
        min-height: 130vh;
        border: none;
        margin-top: 8rem;
        margin-bottom: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;

        @include respond(tablet) {
            min-height: 170vh;
        }
    }
}