

.contacts {

    padding-top: 20rem;

    &__container {

        display: grid;
        grid-template-columns: repeat(5, 1fr); /* Two columns */
        grid-template-rows: 1fr 1fr; /* Two rows */
        gap: 8rem 10rem; /* Gap between grid items */

        &__formContainer {
            
            grid-column: 1 / 4; /* Span from first column to second column */
            grid-row: 1 / 3; /* Span from first row to third row */

            &_header {

            }
            &_text {
                width: 90%;
                margin-top: 4.5rem;
            }
            &_note {
                font-weight: 600;
                margin-top: 2.5rem;
            }

            &_form {

                margin-top: 4rem;
                display: grid;
                grid-template-columns: 1fr 1fr; /* Two columns */
                grid-auto-rows: auto; /* Automatic row height */
                gap: 4rem 2rem; /* Gap between grid items */

                &_group {

                    display: flex;
                    flex-direction: column;

                    &-label {
                        font-size: 1.6rem;
                        color: var(--color-dark-1);
                    }
                    &-input {

                        font-size: 1.6rem;
                        margin-top: 1.5rem;
                        outline: none;
                        border: none;
                        background-color: #FAFAFA;
                        padding: 1.8rem 1.5rem;
                        border-bottom: 1px solid rgb(90, 90, 90);
                        transition: background-color .5s ease-out;

                        &:focus {
                            border-bottom: 2px solid var(--color-viva-lightgreen);
                            background-color: #F7FAF9;
                        }
                        &:focus:invalid {
                            border-bottom: 2px solid var(--required-red);
                            background-color: #fffcfc;
                        }

                        &-select {

                            &--option {
                                padding: 1rem;
                            }
                        }
                    }

                    &-last-group {
                        grid-column: span 2; /* Spans two columns */
                    }
                }
            }
        }

        &__contacts {

            grid-column: 4 / 6; /* Second column */
            grid-row: auto; /* Auto placement */

            &_image {
                width: 50rem;
                height: 37rem;
            }

            &_infobox {

                &-header {

                }
                &-detail {

                    &--span {

                    }
                }
            }
        }

        &__location {
            grid-column: 4 / 6; /* Second column */
            grid-row: auto; /* Auto placement */
        }
    }
}