@import '../mixins';
@import '../variables';


.hero {

    position: relative;
    height: 130vh;
    overflow: hidden;

    &-image {
        @include absolute-center;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    &__filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(43, 43, 43, 0.45);
        mix-blend-mode: lighten;
        backdrop-filter: blur(0);
    }
}