@import '../mixins';
@import '../variables';
@import '../media-query-manager';


.hero {

    position: relative;
    height: 145vh;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    &__maincontainer {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include respond(tablet) {
            backdrop-filter: blur(3px);
            background-image: linear-gradient(to bottom, rgb(255, 249, 240) 0%, rgb(255, 228, 196, 0) 100%);
        }

        &-start {
            position: relative;
            width: 100%;
            height: 100vh;

            // just for positioning the link
            &--linkbox {
                @include absolute-center;
                top: 54.5%;
                
                @include respond(tablet-small-4) {
                    top: 54.5%;
                }
            }
            &--link:link,
            &--link:visited {
                position: relative;
                display: inline-block;
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--color-dark-2);
                background-color: rgba(255, 255, 255, 0);
                padding: 2rem 6rem;
                border-radius: 1000px;
                box-shadow: 0 5px 14px rgba(0, 0, 0, 0.12);
                text-transform: uppercase;
                transition: all .3s ease-out;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.85);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
                    transform: translateY(-3px);
                }
                // Note: This means when we hover the button, we want certain things to happen to the ::after pseudo element.
                &:hover::after {
                    transform: scaleX(1.8) scaleY(2);
                    opacity: 0;
                }
                &:active {
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
                    transform: translateY(-1px);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.85);
                    border-radius: 1000px;
                    opacity: 1;
                    z-index: -1;
                    transition: all .3s ease-out;
                }
            }

            &--keepScrolling {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 8%;
                left: 50%;
                transform: translateX(-50%);

                @include respond(tablet-small-3) {
                    Bottom: 4%;
                }
                @include respond(tablet-small-4) {
                    bottom: -8%;
                }
            }
        }

        &-end {
            position: relative;
            flex-grow: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(38, 38, 38);
        mix-blend-mode: lighten;
        // animation: bannerBrightnessAnimation 3s infinite alternate ease-in-out;
    }



    &__content {

        @include absolute-center;
        top: 52%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        mix-blend-mode: difference;

        @include respond(tablet) {
            flex-direction: column;
            align-items: stretch;
            color: var(--color-black);
            mix-blend-mode: normal;
        }
        @include respond(tablet-small-4) {
            
        }

        &_subcontainer1 {

            display: flex;
            flex-direction: column;
            height: 50rem;

            @include respond(laptop) {
                height: 45rem;
            }
            @include respond(laptop-small-2) {
                height: 65rem;
            }
            @include respond(tablet) {
                height: 20rem;
            }
            @include respond(tablet-small-3) {
                // height: 20rem;
            }

            &-subheader--1 {
                font-size: 2rem;
                text-align: left;
                font-weight: 400;
                line-height: 1.4;
                letter-spacing: 1px;

                @include respond(laptop) {
                    font-size: 1.8rem;
                }

                &---link {
                    font-size: 2.2rem;
                    font-weight: 600;
                    transition: all .3s cubic-bezier(0.34, 1.56, 0.64, 1);

                    @include respond(laptop) {
                        font-size: 2rem;
                    }

                    &:hover {
                        letter-spacing: 1.4px;
                    }
                }
            }
            &-line {
                width: 1px;
                height: 100%;
                transform-origin: bottom;
                transform: scaleY(100%);
                margin-top: 20px;
                background-color: white;
                animation: OpacityHeightPulseAnimation 3s infinite alternate cubic-bezier(0.65, 0, 0.35, 1);

                @include respond(tablet) {
                    background-color: rgba(0, 0, 0, 0.30);
                }
            }
        }

        &_centercontainer {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            &-heading {
                margin-bottom: 10rem;
                font-size: 5.0rem;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: uppercase;
                // text-shadow: 0px 3px 6px #717171ab;

                @include respond(laptop) {
                    font-size: 4.2rem;
                }
                @include respond(tablet-small-3) {
                    font-size: 3.8rem;
                    line-height: 1.2;
                }

                &--span {
                    font-weight: 400;
                }
            }

            &-link {

            }
        }

        &_subcontainer2 {
            
            display: flex;
            flex-direction: column;
            align-items: end;
            height: 50rem;

            @include respond(laptop) {
                height: 45rem;
            }
            @include respond(laptop-small-2) {
                height: 65rem;
            }
            @include respond(tablet) {
                height: 20rem;
            }
            @include respond(tablet-small-3) {
                height: 25rem;
            }

            &-line {
                right: 0;
                width: 1px;
                height: 100%;
                transform-origin: top;
                transform: scaleY(100%);
                margin-bottom: 20px;
                background-color: white;
                animation: OpacityHeightPulseAnimation 3s infinite alternate cubic-bezier(0.65, 0, 0.35, 1);

                @include respond(tablet) {
                    background-color: rgba(0, 0, 0, 0.30);
                }
            }
            &-subheader--2 {
                font-size: 2rem;
                text-align: right;
                font-weight: 400;
                line-height: 1.4;
                letter-spacing: 1px;

                @include respond(laptop) {
                    font-size: 1.8rem;
                }

                &---span {
                    font-size: 2.2rem;
                    font-weight: 600;

                    @include respond(laptop) {
                        font-size: 2rem;
                    }
                }
                &---link {
                    // color: var(--color-venoms);
                    transition: all .3s cubic-bezier(0.34, 1.56, 0.64, 1);

                    &:hover {
                        color: #ffe597;
                        letter-spacing: 1.5px;
                    }
                }
            }
        }
    }


    // Mini Get a Quote Form - OBSOLETE
    &__form {
        min-width: 60%;
    }
}




.allergy-extracts {

    margin-top: 15rem;

    &__intro {

        display: flex;
        align-items: center;

        @include respond(laptop-small-2) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 5rem;
        }

        &_content {

            flex: 1;

            @include respond(laptop-small-2) {
                text-align: center;
            }

            &-header {
                margin-bottom: 4rem;
                @include respond(laptop-small-2) {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 1px;
                        width: 5rem;
                        background-color: var(--color-dark-1);
                    }
                }
            }

            &-text {
                margin-top: 2rem;
            }

            &-linksbox {
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-top: 3rem;

                @include respond(laptop-small-2) {
                    justify-content: center;
                }
                @include respond(tablet-small-4) {
                    flex-direction: column;
                    gap: 15px;
                }
            }
            &-link {
                display: inline-block;
            }
        }

        &_photos {

            position: relative;
            flex: 1;
            flex-basis: 0;
            display: flex;
            justify-content: end;
            margin-left: auto;

            @include respond(laptop-small-2) {
                margin-left: 0;
            }

            &-container {
                position: relative;
                width: 50rem;
                height: 50rem;

                @include respond(laptop) {
                    width: 48rem;
                    height: 48rem;
                }
                @include respond(laptop-small-1) {
                    width: 40rem;
                    height: 40rem;
                }
                @include respond(laptop-small-2) {
                    width: 45rem;
                    height: 45rem;
                }
                @include respond(phone) {
                    width: 35rem;
                    height: 35rem;
                }
            }
            &-1 {

                position: absolute;
                top: 0;
                right: 0;
                width: 45%;
                height: auto;

                &--img {

                }
                &--filter {
                    
                }
            }
            &-2 {

                position: absolute;
                bottom: 0;
                left: 0;
                width: 70%;
                height: auto;

                &--img {

                }
                &--filter {
                    
                }
            }
        }
    }

    &__extracts {

        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
        grid-auto-rows: auto; /* Automatically adjust row height based on content */
        row-gap: 4rem; /* Gap between grid items */
        column-gap: 6rem;

        margin-top: 15rem;

        @include respond(laptop-large-2) {

        }
        @include respond(laptop-large-1) {

        }
        @include respond(laptop) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respond(tablet) {
            // grid-template-columns: repeat(1, 1fr);
        }
        @include respond(tablet-small-1) {
            grid-template-columns: repeat(1, 1fr);
        }

        &_extract {

        }
    }
}




#section-skin-tests {
    
}
.skin-tests {

    margin-top: 20rem;
    background-color: rgba(249, 246, 236, 0.40);
    backdrop-filter: blur(20px);

    &__container {

        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 10rem;

        @include respond(laptop) {
            column-gap: 8rem;
        }
        @include respond(tablet) {
            flex-direction: column;
        }

        &_imagebox {

            position: relative;
            height: 50.5rem;
            width: 65rem;
            overflow: hidden;
            border-top-right-radius: 5px;
            // border-end-start-radius: 40px;
            // border-end-end-radius: 30px;

            @include respond(laptop) {
                height: calc(50.5rem / 1.2);
                width: calc(65rem / 1.2);
            }
            @include respond(tablet) {
                width: 100%;
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &-filter {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(242, 212, 187, 0.6);
                mix-blend-mode: hard-light;
                box-shadow: inset 0 0 30px rgb(0 0 0 / 40%);
            }

            &-logobox {

                @include absolute-center;
                width: 12rem;
                height: 12rem;
                background-color: rgb(255 255 255 / 100%);
                backdrop-filter: blur(3px);
                overflow: hidden;
                border-radius: 50%;
                // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
                mix-blend-mode: soft-light;

                &--logo {
                    @include absolute-center;
                    width: 50%;
                    height: 50%;
                }
            }
            &-object-1 {
                display: none;
                position: absolute;
                bottom: 15px;
                left: 15px;
                width: 10rem;
                height: 10rem;
                background-color: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(5px);
                overflow: hidden;
                border-radius: 50%;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
                mix-blend-mode: hard-light;
            }
            &-object-2 {
                display: none;
                position: absolute;
                top: 15px;
                right: 15px;
                width: 5rem;
                height: 5rem;
                background-color: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(2px);
                overflow: hidden;
                border-radius: 50%;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
                mix-blend-mode: hard-light;
            }
        }

        &_content {

            width: 40%;

            @include respond(tablet) {
                width: 80%;
                padding: 6rem 0;
                text-align: center;
            }

            &-header {

                @include respond(laptop-small-2) {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -12px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 1px;
                        width: 5rem;
                        background-color: var(--color-dark-1);
                    }
                }
            }

            &-text {
                margin-top: 2rem;
            }

            &-link {
                display: inline-block;
                margin-top: 3rem;
                margin-bottom: 2rem;
            }
        }
    }
}