

.product-catalogue {

    &__header {
        padding-top: 18rem;
    }

    &__catalogue-container {

        &_catalogue {
            margin-top: 5rem;
            margin-bottom: 10rem;
        }
    }

    &__button-container {
        display: inline-block;
        margin-top: 10rem;
        margin-bottom: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}