

.product-catalogue {

    &__header {
        padding-top: 18rem;
    }

    &__catalogue-container {

        &_catalogue {
            margin-top: 5rem;
            margin-bottom: 10rem;
        }
    }
}