

.product-catalogue {

    &__header {
        padding-top: 18rem;
    }

    &__catalogue-container {

        position: relative;
        margin-top: 5rem;
        margin-bottom: 10rem;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        &_catalogue {
            
        }
    }

    &__button-container {
        display: inline-block;
        margin-top: 10rem;
        margin-bottom: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}