@import '../mixins';
@import '../variables';
@import '../media-query-manager';


// 3D
.skintests__3dcontainer {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    &_3dviewer {

        position: relative;
        width: 100%;
        height: 100%;

        &-scene {
            width: 100%;
            height: 100%;
        }
    }
}


.skintests {

    position: relative;
    z-index: 10;
    pointer-events: none;

    &__introContainer {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &__intro {

        // position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5rem;
        margin-right: 0;

        @include respond(laptop) {
            // font-size: 1.8rem;
        }

        &_header {
            
            &-span {
                font-weight: 300;
            }
        }
        &_body {
            width: 60%;
        }

        &_keepScrolling {

            background-color: rgba(255, 255, 255, 0);
            color: var(--color-black) !important;
            margin-top: -1rem;

            &-icons {
                opacity: 1 !important;
            }
            &-text {

            }
        }
    }


    .skin-test-devices {
        padding-top: 10rem;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
        box-shadow: 0 0px 80px rgba(0, 0, 0, 0.02);
        pointer-events: none;
    }

    &__features {

        display: flex;
        align-items: center;
        gap: 5rem;

        &_info {

            display: flex;
            flex-direction: column;
            gap: 2rem;
            flex: 1;
            pointer-events: all;

            &-title {
                
                position: relative;
                font-size: calc(1.8rem * 1.20 * 2);
                font-weight: 300;
                color: var(--color-dark-1);
                line-height: 1.5;
                margin-bottom: 1rem;

                &--span {
                    font-weight: 400;
                }
            }

            &-feature {

                display: flex;
                align-items: center;
                gap: 20px;

                &--bullet {
                    width: 15px;
                    height: 4px;
                    border-radius: 1000px;
                    background-color: var(--color-dark-1);
                }
                &--text {
                    font-size: 1.8rem;
                    font-weight: 400;
                    color: var(--color-dark-1);
                }
            }
        }

        &_illustrations {

            position: relative;
            flex: 1;

            @include respond(laptop) {
                flex: none;
            }

            &-container {
                
                position: relative;
                width: 60rem;
                height: 60rem;
                margin-left: auto;
                margin-right: auto;

                @include respond(laptop) {
                    width: 45rem;
                    height: 45rem;
                    margin-right: 0;
                }
                @include respond(laptop-small-1) {
                    width: 38rem;
                    height: 38rem;
                }

                &--img {
                    position: absolute;
                    top: 35%;
                    left: 0;
                    width: 100%;
                    height: auto;
                }
                &--circle {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 80%;
                    height: 80%;
                    opacity: .7;
                    background-color: var(--color-trees);
                    border-radius: 50%;
                    animation: AllergiesColorAnimation 12s ease-in-out infinite alternate;
                }
            }
        }
    }


    &__quintip {

        margin-top: 12rem;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10rem;

        @include respond(laptop) {
            gap: 6rem;
        }

        &_banner {

            position: relative;
            width: 70rem;
            height: 40rem;

            @include respond(laptop) {
                width: 60rem;
                height: 35rem;
            }
            @include respond(laptop-small-1) {
                width: 50rem;
                height: 32rem;
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_info {

            width: 45%;
            pointer-events: all;

            &-title {

            }
            &-text {

            }
        }
    }


    &__comforten {

        margin-top: 12rem;
        padding-bottom: 20rem; // Temporary
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: end;
        gap: 10rem;

        @include respond(laptop) {
            gap: 6rem;
        }

        &_banner {

            position: relative;
            width: 70rem;
            height: 40rem;

            @include respond(laptop) {
                width: 60rem;
                height: 35rem;
            }
            @include respond(laptop-small-1) {
                width: 50rem;
                height: 32rem;
            }

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-selector {

                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
                border-radius: 1000px;
                background-color: var(--color-white);
                box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
                width: fit-content;
                height: 11.5rem;
                pointer-events: all;

                display: flex;
                justify-content: space-between;
                align-items: center;

                &--option {

                    position: relative;
                    width: 11.5rem;
                    height: 11.5rem;
                    background-color: var(--color-white);
                    border-radius: 1000px;
                    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.08);
                    overflow: hidden;
                    transform: scale(1);
                    z-index: 1;
                    transition: all .3s ease-out;

                    &:hover {
                        transform: scale(1.1);
                        z-index: 2;
                    }

                    &--selected {
                        transform: scale(1.1);
                        z-index: 2;
                    }

                    &---img {
                        @include absolute-center;
                        height: 75%;
                        width: 75%;
                        border-radius: 1000px;
                        object-fit: cover;
                    }
                }
            }
        }

        &_info {

            width: 45%;
            pointer-events: all;

            &-title {

            }
            &-text {

            }
        }
    }


    &__instructions {

        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15rem;

        &_container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10rem;

            @include respond(laptop) {
                gap: 8rem;
            }
        }
        &_video {

            position: relative;
            cursor: pointer;
            pointer-events: all;

            &-logobox {

                position: absolute;
                top: -7.5rem;
                right: -7.5rem;
                width: 14rem;
                height: 14rem;
                border-radius: 50%;
                background-color: var(--color-trees);
                overflow: hidden;

                @include respond(laptop) {
                    top: -5rem;
                    right: -5rem;
                    width: 12rem;
                    height: 12rem;
                }
            
                &--logo {
                    @include absolute-center;
                    width: 50%;
                    height: auto;
                }
                &--filter {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: inset -6px 6px 15px rgba(255, 255, 255, 0.60), inset 3px -6px 15px rgba(0, 0, 0, 0.5);
                }
            }

            &-card {

                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 65rem;
                height: 38rem;
                padding: 2rem;
                background-color: var(--color-white);
                box-shadow: 0 2px 30px rgba(0, 0, 0, 0.05);
                border-radius: 40px;
                overflow: hidden;

                @include respond(laptop) {
                    width: 55rem;
                    height: 32rem;
                }
                @include respond(laptop-small-1) {
                    width: 48rem;
                    height: 28rem;
                }

                &--imageContainer {

                    position: relative;
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    &---image {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: auto;
                        width: 100%;
                    }
                    &---filter {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        box-shadow: inset -6px 6px 20px rgba(255, 255, 255, 0.80), inset 3px -6px 20px rgba(0, 0, 0, 0.1);
                    }
                }

                &--playCircle {
                    
                    @include absolute-center;
                    background-color: rgba(255, 255, 255, 0.9);
                    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
                    border-radius: 1000px;
                    display: inline-block;
                    width: 10rem;
                    height: 10rem;
                    animation: ExtractIneractionScalePulse 4s ease-in-out infinite;

                    &---playIcon {
                        @include absolute-center;
                        left: 52%;
                        width: 25%;
                        height: auto;
                    }
                }
            }
        }
        &_info {

            &-title {
                font-size: 3.4rem !important;
            }
            &-text {

            }
        }
    }
}








// Video Pop-Up
.skin-tests-vidcontainer {

    display: flex;
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease-out;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
    z-index: 100;

    &-elementsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    &__button {

        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 1000px;
        width: 5rem;
        height: 5rem;
        transform: rotate(0) scale(1);
        transition: all .4s ease-out;

        &:hover {
            background-color: rgba(0, 0, 0, 0.9);
            transform: rotate(275deg) scale(1.2);

            .skin-tests-vidcontainer__button_icon {
                opacity: 1;
            }
        }

        &_icon {
            @include absolute-center;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 50%;
            height: auto;
            opacity: .8;
            transition: all .4s ease-out;
        }
    }
    &__source {
        width: 80%;
        height: auto;
        border-radius: 15px;
        z-index: 200;
        box-shadow: 0 4px 50px rgba(0, 0, 0, 0.6);
    }
}
.show-skin-test-video {
    pointer-events: all;
    opacity: 1;
}