
// Find Actual Contact Form Styles in _contacts.scss


// Other Helper Classes (Pop-ups etc.)
.success-notification-container {

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-trees);
    padding: 10rem;
    z-index: 150;
    overflow: hidden;
    opacity: 1;
    transform: translateY(100%);
    animation: FormPopUpAnimation 2s cubic-bezier(0.65, 0, 0.35, 1) 1 forwards; //cubic-bezier(0,.76,1,.23) - Reverse-Ease-In-Out  and  cubic-bezier(0.65, 0, 0.35, 1) Ease-In-Out-Cubic

    &__contents {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;


        &_icon-viva {
            display: none;
            @include absolute-center;
            transform: translate(-50%, -50%) rotate(10deg);
            width: 30%;
            height: auto;
            opacity: 0.05;
        }
        &_icon-check {
            height: 10rem;
            width: auto;
            transform: scale(1);
            animation: CheckIconAnimation 1s ease-in-out infinite alternate-reverse;
        }
        &_text {
            // display: none;
            text-align: center;
            font-size: 5.2rem;
            color: white;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
}


@keyframes FormPopUpAnimation {
    0% {
        transform: translateY(100%);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0);
    }
    55% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}


@keyframes CheckIconAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.6);
    }
}