
.representative {

    position: relative;
    display: inline-block;
    background-color: var(--color-white);
    padding: 4.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);

    @include respond(tablet) {
        width: 100%;
        border-radius: 0;
    }

    &__container {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        @include respond(tablet) {
            flex-direction: column;
        }

        &_picture {

            position: relative;
            width: 25rem;
            height: 25rem;
            border-radius: 10px;
            overflow: hidden;

            @include respond(tablet) {
                width: 45rem;
                height: 45rem;
            }

            &-img {
                object-fit: cover;
            }
        }

        &_details {

            display: flex;
            flex-direction: column;
            gap: 20px;

            @include respond(tablet) {
                text-align: center;
                width: 100%;
            }

            &-name {
                font-size: 3.4rem;
                font-size: 400;
                line-height: 1;
                color: var(--color-dark-1);

                @include respond(tablet) {
                    font-size: 4.8rem;
                }
            }
            &-title {
                font-size: 2rem;
                font-size: 400;
                line-height: 1.5;
                color: var(--color-black);

                @include respond(tablet) {
                    font-size: 2.8rem;
                    margin-bottom: 1rem;
                }
                @include respond(phone) {
                    font-size: 2.8rem;
                }
            }

            &-info {

                display: flex;
                align-items: center;
                gap: 20px;

                @include respond(tablet) {
                    justify-content: center;
                }

                &--icon {
                    width: 2.5rem;
                    height: auto;

                    @include respond(tablet) {
                        width: 3rem;
                    }
                }
                &--text {
                    font-size: 1.8rem;

                    @include respond(tablet) {
                        font-size: 2.4rem;
                    }
                }
            }

            &-button {

                width: fit-content;
                background-color: var(--color-dark-1);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding: 2rem 6rem;
                border-radius: 10px;
                box-shadow: inset -4px 4px 15px rgba(255, 255, 255, 0.3), inset 4px -4px 15px rgba(0, 0, 0, 0.8), 0 4px 10px rgba(0, 0, 0, 0.24);
                cursor: pointer;
                transform: translateY(0) scale(1);
                transition: all .3s ease-out;

                @include respond(tablet) {
                    width: 100%;
                    margin-top: 1rem;
                    padding: 3rem 6rem;
                }

                &:hover {
                    background-color: rgb(58, 58, 58);
                    transform: translateY(-2px) scale(1.05);
                    box-shadow: inset -4px 4px 15px rgba(255, 255, 255, 0.3), inset 4px -4px 15px rgba(0, 0, 0, 0.8), 0 4px 20px rgba(0, 0, 0, 0.24);
                }
                &:active {
                    background-color: rgb(43, 43, 43);
                    transform: translateY(1px) scale(0.98);
                    box-shadow: inset -4px 4px 15px rgba(255, 255, 255, 0.3), inset 4px -4px 15px rgba(0, 0, 0, 0.8), 0 4px 10px rgba(0, 0, 0, 0.24);
                }

                &--text {
                    font-size: 1.8rem;
                    color: var(--color-white);
                    font-weight: 400;

                    @include respond(tablet) {
                        font-size: 2.8rem;
                    }
                }
                &--icon {
                    @include respond(tablet) {
                        width: 3rem;
                        height: auto;
                    }
                }
            }
        }
    }
}