
.header-primary {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-black);
    line-height: 2.5;
}

.text-primary {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-dark-1);
    line-height: 1.5;
}