@keyframes bannerBlurAnimation {
  0% {
    backdrop-filter: blur(0);
  }
  100% {
    backdrop-filter: blur(2px);
  }
}


@keyframes bannerBrightnessAnimation {
  0% {
    background-color: rgb(38, 38, 38);
  }
  100% {
    background-color: rgba(255, 236, 201, 0.08);
  }
}


@keyframes KeepRotatingAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes KeepRotatingReverseAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes OpacityPulseAnimation {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
@keyframes RepsIllustrationOpacityPulseAnimation {
  0%, 100% {
    opacity: 0.01;
  }
  50% {
    opacity: 0.12;
  }
}
@keyframes FeatureOpacityPulseAnimation {
  0%, 100% {
    background-color: rgba(255, 255, 255, 0.01);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
@keyframes MapIconOpacityPulseAnimation {
  0%, 100% {
    opacity: 0.05;
  }
  50% {
    opacity: .3;
  }
}


@keyframes OpacityHeightPulseAnimation {
  0%, 100% {
    transform: scaleY(70%);
    opacity: 0.3;
  }
  50% {
    transform: scaleY(100%);
    opacity: 1;
  }
}


@keyframes ExtractIneractionScalePulse {
  0%, 100% {
    transform: translate(-50%, -50%) scale(.8);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes ExtractsImgFilterRotate {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}



@keyframes AllergiesColorAnimation {
  0% {
    background-color: var(--color-trees);
  }
  20% {
    background-color: var(--color-dust-mites);
  }
  40% {
    background-color: var(--color-venoms);
  }
  60% {
    background-color: var(--color-mold);
  }
  80% {
    background-color: var(--color-insects);
  }
  100% {
    background-color: var(--color-epidermal);
  }
}