

// Headers
.header-primary {
    position: relative;
    font-size: calc(1.8rem * 1.20 * 2);
    font-weight: 400;
    color: var(--color-dark-1);
    line-height: 1.5;
    margin-bottom: 3rem;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 1px;
        width: 5rem;
        background-color: var(--color-dark-1);
    }
}
.header-secondary {
    position: relative;
    font-size: calc(1.8rem * 1.20 * 2);
    font-weight: 400;
    color: var(--color-dark-1);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.header-tertiary {
    position: relative;
    font-size: 5.2rem;
    font-weight: 400;
    color: var(--color-dark-1);

    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        height: 1px;
        width: 5rem;
        background-color: var(--color-dark-1);
    }
}



// Text/Body
.text-primary {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-dark-1);
    line-height: 2;
}
.text-secondary {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-dark-1);
    line-height: 1.8;
}