// Utility Classes

.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}

.side-margins-small {
    margin-left: 10rem;
    margin-right: 10rem;
}
.side-margins-big {
    margin-left: 15rem;
    margin-right: 15rem;
}

.bg-white {
    background-color: white;
}