// Utility Classes

.w-full {
    width: 100%;
}

.aspect-2-1 {
    aspect-ratio: 2/1;
}

.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.flex-dir-row {
    flex-direction: row;
}
.flex-dir-col {
    flex-direction: column;
}

.side-margins-small {
    margin-left: 10rem;
    margin-right: 10rem;
}
.side-margins-big {
    margin-left: 15rem;
    margin-right: 15rem;
}

.bg-white {
    background-color: white;
}


.banner-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: color-burn;
}