// Utility Classes



// ASPECT RATIOS
.aspect-1-1 {
    aspect-ratio: 1/1;
}
.aspect-2-1 {
    aspect-ratio: 2/1;
}


// PAGE MARGINS
.page-span-big {
    width: 90vw;
}
.page-span-small {
    width: 80vw;
}
.page-margins-big {
    margin-left: 20rem;
    margin-right: 20rem;
}
.page-margins-small {
    margin-left: 10rem;
    margin-right: 10rem;
}


// Flexbox Classes
.flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.flex-dir-row {
    flex-direction: row;
}
.flex-dir-col {
    flex-direction: column;
}




// BASIC USEFUL
.w-full {
    width: 100%;
}
.marg-left-small {
    margin-left: 2rem;
}
.bg-white {
    background-color: white;
}
.mix-blend-diff {
    color: white !important;
    mix-blend-mode: difference !important;
}


// SHADOWS etc.
.banner-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: color-burn;
}