// variables.scss

// Define variables
:root {

    // Basic Colors
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark-1: #282828;
    --color-dark-2: #353535; // Home - "Get A Quote" Form // OBSOLETE
    --color-grey-light: #f5f5f5;

    // Brand Colors
    --color-viva-darkgreen: #005635;
    --color-viva-lightgreen: #48B037;
    --color-viva-yellow: #DDDF00;

    --color-ap-products: #495570;
    --color-dust-mites: #8C5A60;
    --color-epidermal: #2D6970;
    --color-grass-pollen: #709960;
    --color-insects: #594E68;
    --color-mold: #86B899;
    --color-product: #323B53;
    --color-suspal: #756E60;
    --color-trees: #5E7D61;
    --color-venoms: #C4A341;
    --color-weed-pollen: #998D68;
    --color-base-black: #404243;


    // Custom Colors
    --color-light-cream-1: #F9F6EC;
    --color-light-cream-2: #D9CDA6;
    --color-dark-footer: #202020;
    --color-dark-copyrightbar: #1C1C1C;


    // Other
    --required-red: #FF3131;
  }
  